---
import Line from "./Line.astro";
---

<div class="flex justify-center h-full pt-[51px] lg:pt-[60px]">
    <div
        class="max-w-[350px] md:max-w-[450px] lg:min-w-[750px] lg:max-w-[750px] py-8 flex flex-col justify-center sm:justify-center items-center z-10"
    >
        <div class="flex justify-start w-full">
            <img
                src="/yo.png"
                width={50}
                height={50}
                class="w-[70px] h-[70px] rounded-full shadow-xl"
                alt="yo"
            />
        </div>
        <div class="h-fit w-full mx-4 text-start flex-col">
            <div class="my-2.5">
                <h1 class="text-3xl underline">
                    <b>Hey! soy Maximo </b>
                </h1>
                <p
                    class="text-xl max-w-[280px] sm:max-w-[350px] md:max-w-[450px] lg:max-w-[500px]"
                >
                    +2 años de experiencia. <b class="text-kai-button"
                        >Developer ux/ui
                    </b> de Buenos Aires, Argentina. Especializado en el desarrollo
                    de aplicaciones web únicas.
                </p>
            </div>
            <div class="flex maw-w-[400px] z-50">
                <a
                    href="https://www.linkedin.com/in/maximo-figuera-531231323/"
                    target="_blank"
                    class="flex text-sm mr-1 mb-2 px-4 py-2 z-50 text-black font-medium text-center justify-center items-center flex-row rounded-lg border gap-x-2 opacity-90 cursor-pointer bg-white hover:text-black hover:scale-110 hover:shadow-lg hover:opacity-100 dark:focus:ring-black-300 focus:ring-2 focus:outline-none focus:ring-black-30 transition-all duration-200 ease-in-out scale-90"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin group"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                        ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
                        ></path><path d="M12 16l0 -5"></path><path
                            d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
                    >
                    <div class="flex items-center">
                        <span class="">Linkedin</span>
                    </div>
                </a>

                <a
                    href="https://github.com/degszz"
                    class="flex text-sm mr-1 mb-2 px-4 py-2 text-black font-medium text-center justify-center items-center flex-row rounded-lg border gap-x-2 opacity-90 cursor-pointer bg-white hover:text-black hover:scale-110 hover:shadow-lg hover:opacity-100 dark:focus:ring-black-300 focus:ring-2 focus:outline-none focus:ring-black-30 transition-all duration-200 ease-in-out scale-90"
                    target="_blank"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                        ></path></svg
                    >
                    <div class="flex items-center">
                        <span class="">Github</span>
                    </div>
                </a>

                <a
                    href="https://www.instagram.com/z3maxi/"
                    class="flex text-sm mr-1 mb-2 px-4 py-2 text-black font-medium text-center justify-center items-center flex-row rounded-lg border gap-x-2 opacity-90 cursor-pointer bg-white hover:text-black hover:scale-110 hover:shadow-lg hover:opacity-100 dark:focus:ring-black-300 focus:ring-2 focus:outline-none focus:ring-black-30 transition-all duration-200 ease-in-out scale-90"
                    target="_blank"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                            d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                        ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"
                        ></path><path d="M16.5 7.5v.01"></path></svg
                    >
                    <div class="flex items-center">
                        <span class="flex">Instagram</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="EXP" class="pt-6"></div>
    <br />
    <Line />
</div>
<div class="flex justify-center h-full pb-6">
    <div
        class="grid grid-cols-3 pb-6 grid-rows-1 gap-2 w-full max-w-[350px] md:max-w-[450px] md:min-w-[450px] lg:min-w-[750px] lg:max-w-[750px]"
    >
        <a
            href="https://polite-figolla-9c03dc.netlify.app/"
            target="_blank"
            class="relative rounded-3xl overflow-hidden
          bg-gradient-to-br from-html via-[#00b6ff] to-[#0061e6]
          border border-html
          flex flex-col items-start
          hover:scale-105 hover:contrast-125
          transition
          group z-10
          col-span-2 p-7 min-h-[180px]"
        >
            <span
                class="absolute bottom-2 left-4 font-bold text-2xl group-hover:-translate-y-1 transition-transform z-30"
                >Water Web</span
            >

            <img
                class="absolute -right-4 -bottom-4 -rotate-6 size-28 md:size-40 z-50 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                src="/water.avif"
                width="100"
                height="100"
                alt="Water"
            />

            <span
                class="absolute top-2 left-4 md:left-4 text-xs border rounded-xl px-1 py-0.5"
                >Mediante Api de Whatsapp</span
            >
        </a>

        <a
            href=""
            class="relative rounded-3xl overflow-hidden
          bg-gradient-to-br from-html via-[#d1d1d1] to-[#4f4f4f]
          border border-html
          flex flex-col items-start
          hover:scale-105 hover:contrast-125
          transition
          group z-10
          col-span-1 p-7 min-h-[180px]"
        >
            <span
                class="absolute bottom-2 left-4 font-bold text-2xl group-hover:-translate-y-1 transition-transform z-30"
                >Web Food</span
            >

            <img
                class="absolute -right-4 -bottom-4 -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                width="100"
                height="100"
                alt="Plato"
                src="/3d.avif"
            />

            <span
                class="absolute top-2 left-1.5 md:left-4 text-xs border rounded-xl px-1 py-0.5"
                >Proximamente</span
            >
        </a>
        <a
            href="https://helpful-basbousa-eca252.netlify.app/"
            target="_blank"
            class="relative rounded-3xl overflow-hidden
          bg-gradient-to-br from-[#25252c] via-[#434450] to-[#4a4b5a]
          border border-[#5b5d6e]
          flex flex-col items-start
          hover:scale-105 hover:contrast-125
          transition
          group
          col-span-3 p-7 min-h-[180px]"
        >
            <span
                class="absolute bottom-2 left-4 font-bold text-2xl group-hover:-translate-y-1 transition-transform z-20"
                >Design System</span
            >

            <img
                class="absolute -right-4 -bottom-4 -rotate-6 size-28 md:size-40 z-10 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                width="100"
                height="100"
                src="/puzzle.avif"
                alt="puzzle"
            />

            <span
                class="absolute top-2 left-4 text-xs border rounded-xl px-1 py-0.5"
                >+8 Componentes para Usar</span
            >
                    <a
            href="https://polite-figolla-9c03dc.netlify.app/"
            target="_blank"
            class="relative rounded-3xl overflow-hidden
          bg-gradient-to-br from-html from-[#7c7c7c] via-[#989898] to-[#fff]
          border border-html
          flex flex-col items-start
          hover:scale-105 hover:contrast-125
          transition
          group z-10
          col-span-2 p-7 min-h-[180px]"
        >
            <span
                class="absolute bottom-2 left-4 font-bold text-2xl group-hover:-translate-y-1 transition-transform z-30"
                >Business Web</span
            >

            <img
                class="absolute -right-4 -bottom-4 -rotate-6 size-28 md:size-40 z-50 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                src="/business.avif"
                width="100"
                height="100"
                alt="Bussines"
            />

            <span
                class="absolute top-2 left-4 md:left-4 text-xs border rounded-xl px-1 py-0.5"
                >En Desarrollo</span
            >
        </a>
        </a>
    </div>
</div>
