<div>
    <div class="w-full flex justify-center py-4">
        <div
            class="flex justify-start max-w-[350px] md:w-full md:min-w-[450px] lg:max-w-[750px]"
        >
            <div
                class="border-2 border-t-0 border-b-0 border-r-0 z-40 border-white md:mx-0 pb-6 space-y-10"
            >
                <div class="relative">
                    <div
                        class="absolute -left-3 bg-white h-6 w-6 rounded-full border-2 border-black"
                    >
                        <span
                            class="text-black text-center flex justify-center items-center h-full w-full"
                        >
                            <b>1</b>
                        </span>
                    </div>
                    <div class="pl-6">
                        <h2 class="text-sans text-xl dark:text-white mb-2">
                            <b>📚 Certificados:</b>
                        </h2>
                        <span class="dark:text-white text-md text-serif"
                            >Como Desarrollador Autodidacta, Logre Certificarme
                            en Diversas Tecnologias:<b class="text-[#006092]"
                            ></b>
                        </span>
                        <div>
                            <div
                                class="style-none list-disc grid grid-cols-3 md:grid-cols-4 w-fit text-md text-serif dark:text-white"
                            >
                                <a
                                    href="https://certificados.midudev.com/5e905990-1eab-4b65-a864-5d6ddd975851.pdf"
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#085aa0] to-[#009cff] p-2 bg-gray-600 w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/icons8-python.svg"
                                            class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width={50}
                                            height={50}
                                            alt=""
                                        />
                                    </div>
                                </a>
                                <a
                                    href="https://certificados.midudev.com/55a12f17-0bf1-4fae-ab6c-d63077b2ba36.pdf"
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#085aa0] to-[#009cff] p-2 bg-gray-600 w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/icons8-python.svg"
                                            class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width={50}
                                            height={50}
                                            alt=""
                                        />
                                    </div>
                                </a>
                                <a
                                    href="https://certificados.midudev.com/abb12ed4-59f7-4696-9047-3501d793b466.pdf"
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#FFF700] to-[#d1b800] p-1 bg-[#FFF700] w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/js.png"
                                            class="absolute -rotate-6 size-20 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width="50"
                                            height="50"
                                            alt=""
                                        />
                                    </div>
                                </a>
                                <a
                                    href="https://certificados.midudev.com/b63e6542-9e48-4eb1-a374-9cef6edda5c7.pdf"
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#FF9500] to-[#FF7600] p-2 bg-[#7c2f0b] w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/icons8-html-5.svg"
                                            class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width={50}
                                            height={50}
                                            alt=""
                                        />
                                    </div>
                                </a>
                                <a
                                    href="https://certificados.midudev.com/fa8c7a3e-808d-4785-b27e-41a1aecc4e04.pdf"
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#085aa0] to-[#009cff] p-2 bg-gray-600 w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/icons8-css3.svg"
                                            class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width={50}
                                            height={50}
                                            alt=""
                                        />
                                    </div>
                                </a>
                                <a
                                    href="https://certificados.midudev.com/035ec023-fe94-4e70-bcfd-fc50b4419757.pdf"
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#085aa0] to-[#009cff] p-2 bg-gray-600 w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/icons8-css3.svg"
                                            class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width={50}
                                            height={50}
                                            alt=""
                                        />
                                    </div>
                                </a>
                                <a
                                    href="https://certificados.midudev.com/c3106c8d-2b6f-4e7c-8fe4-14d5e1e9df97.pdf"
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#085aa0] to-[#009cff] p-2 bg-gray-600 w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/icons8-css3.svg"
                                            class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width={50}
                                            height={50}
                                            alt=""
                                        />
                                    </div>
                                </a>
                                <a
                                    href=""
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#0391b7] to-[#0a7394] p-1 bg-[#144e65] w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/icons8-tailwind-css.svg"
                                            class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width={50}
                                            height={50}
                                            alt=""
                                        />
                                    </div>
                                </a>
                                <a
                                    href="https://certificados.midudev.com/27c9ea26-4c00-483b-b173-d17d2e7f2b85.pdf"
                                    target="_blank"
                                    class="w-fit"
                                >
                                    <div
                                        class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition group z-10 col-span-2 min-h-[70px] min-w-[70px] overflow-hidden bg-gradient-to-br from-html via-[#FF9500] to-[#FF7600] p-2 bg-[#7c2f0b] w-fit border rounded-lg m-2"
                                    >
                                        <img
                                            src="/mcp.svg"
                                            class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
                                            width={50}
                                            height={50}
                                            alt=""
                                        />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative">
                    <div
                        class="absolute -left-3 bg-white h-6 w-6 rounded-full border-2 border-black"
                    >
                        <span
                            class="text-center text-black flex justify-center items-center h-full w-full"
                        >
                            <b>2</b>
                        </span>
                    </div>
                    <div class="pl-6">
                        <h2 class="text-sans text-xl mb-2">
                            <b>🛠️ Experiencia Laboral:</b>
                        </h2>
                        <ul>
                            <li class="mb-3">
                                <span class="text-md text-serif"
                                    >➱ Desarrollo de Proyectos con Equipo
                                    Especializado para Diseños <b
                                        class="text-[#0088D2]"
                                        >UX/UI como Design System.</b
                                    ></span
                                >
                            </li>
                            <li class="mb-3">
                                <span class="text-md text-serif"
                                    >➱ Contribuir en una inmobiliaria: <b
                                        class="text-[#0088D2]"
                                        >Optimizando, Mejorando, Desarrollando y
                                        Diseñando</b
                                    > una Web para Facilitar trabajo excesivo.</span
                                >
                            </li>
                            <li class="mb-3">
                                <span class="text-md text-serif"
                                    >➱ Desarrollo de Webs para Emprendimientos <b
                                        class="text-[#0088D2]"
                                        >Facilitando la Toma y Venta de Pedidos.</b
                                    ></span
                                >
                            </li>
                            <li class="mb-3">
                                <span class="text-md text-serif"
                                    >➱ Contribuciones en Diversos <b
                                        class="text-[#0088D2]"
                                        >Proyectos de GitHub.</b
                                    ></span
                                >
                            </li>
                        </ul>
                        <div></div>
                    </div>
                </div>

                <div class="relative">
                    <div
                        class="absolute -left-3 bg-white h-6 w-6 rounded-full border-2 border-black"
                    >
                        <span
                            class="text-center text-black flex justify-center items-center border-black h-full w-full"
                        >
                            <b>3</b>
                        </span>
                    </div>
                    <div class="pl-6">
                        <h2 class="text-sans text-xl mb-2">
                            <b>👨🏼‍💻 Lenguajes & Frameworks:</b>
                        </h2>
                        <span class="text-md text-serif"
                            >Con Experiencia en Tecnologias como <b
                                class="text-[#0088D2]"
                                >Javascript, Typescript, Python, HTML y CSS</b
                            >, Con Conocimientos en Frameworks como <b
                                class="text-[#0088D2]"
                                >React, Nextjs, Astro, Tailwind, Shadcn, y mas.</b
                            >
                        </span>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
