<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="antialiased text-white z-10 min-h-dvh bg-gradient-to-b from-sky-900 via-black to-black">
		<slot />
	</body>
</html>
